@import '../../assets/styles/config';

.UserList {
  padding: 0;
  list-style: none;

  .loaderWrapper {
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: center
  }
}

.paginationButtonsWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}