@import '../../assets/styles/config';

.RepositoryInfo {

  & > * ~ * { margin-top: 20px; }

  .title {
    text-align: center;
    word-break: break-word;
    margin-bottom: 40px;
  }

  .infoLabel { font-weight: 700; }
}