@import '../../assets/styles/config';

.UserListFilters {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 40px;

  & > :first-child ~ * { margin-top: 20px; }

  @include responsiveSmall {
    flex-direction: row;
    align-items: initial;

    & > :first-child ~ * {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}