:root {
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: $black;
  background-color: $lightWhite;
}

html * {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Montserrat'; }

img,
figure {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
}